@import url(color.css);

.body_container{
    width: 100%;
    height: fit-content;
    background-color: var(--background-color);
}

header{
    padding-top: 35px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.point{
    width: 15px;
    height: 100px;
    background-color: var(--point);
}

.logo{
    margin-left: 20px;
}

.logo > strong{
    margin-top: 10px;
    display: block;
    font-size: 24px;
    color: var(--font);
    letter-spacing: -0.02em;
    text-shadow: -2px 4px 0.2em #000000;
} 

.title{
    color:#fff;
    font-size: 24px;
    margin-left: 40px;
    margin-top: 50px;
    text-shadow: -2px 4px 0.2em #000000;
}

/*검색 결과화면 */

.readyMovie{
    display: flex;
    justify-content: center;
}

.movieList{
    width: 80%;
    height: fit-content;
    margin: 20px;
    border: 2px solid var(--border);
    border-radius: 10px;
}