@import url(color.css);

.body_container{
    width: 100%;
    height: 800px;
    top: 0;
    position: absolute;
    background-color: var(--background-color);
}

/*header 부분 */ 

header{
    margin-top: 60px;
    
}
.pointContainer{
    display: flex;
    justify-content: center;
}
@keyframes pointAni{
    0% {background-color: #3D087B; width: 100px}
    100% {background-color: var(--point); width: 200px;}
}
.point{
    height: 3px;
    width: 130px;
    background-color: var(--point);
    animation: pointAni 1.5s  forwards;
}
.logoContainer{
    display: flex;
    justify-content: center;
}
.logo{
    text-align: center;
    margin-top: 15px;
}

.logo > strong{
    margin-top: 10px;
    display: block;
    font-size: 24px;
    color: var(--font);
    letter-spacing: -0.02em;
    text-shadow: -2px 4px 0.2em #000000;
}   

/*loginForm */

.loginForm{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-size: 18px;
}

.id{
    margin-bottom: 10px;
}

.idlabel{
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 15px;
}
.user_id{
    margin-left: 40px;
    font-size: 15px;
    border-style: none;
    background-color: var(--background-color);
    border-bottom: 2px solid var(--border);
    padding: 15px;
}
.password{
    margin-top: 20px;
}
.pwlabel{
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
}
.user_pwd{
    font-size: 3px;
    margin-left: 50px;
    font-size: 15px;
    border-style: none;
    background-color: var(--background-color);
    border-bottom: 2px solid var(--border);
    padding: 15px;
}
.ok_btn{
     width: 300px;
     background-color: var(--background-color);
     color: #fff;
     border: 2px solid var(--border);
     border-radius: 10px;
     font-size: 15px;
     margin-top:80px;
     margin-left: 25px;
}

.ok_btn:hover{
    background-color: var(--point);
}
/*링크 들 */
.linkForm{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.linkForm a{
    font-size: 18px;
    margin: 15px;
    color: var(--border);
}

.memberJoinLink{
    margin-right: 60px;
}